<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<ul>
  <% if (locals.users) {%>
    <% users.forEach(user => { %>
      <li>
        <div>ID: <%= user.id %></div>
        <div>Name: <%= user.firstName %> <%= user.lastName %></div>
        <div>Email: <%= user.email %></div>
        <div>Age: <%= user.age %></div>
        <div>Bio: <%= user.bio %></div>
      </li>
    <% }); %>
  <% } %>
</ul>
</body>
</html>
