<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mini Message Board</title>
</head>
<body>
  <% messages.map(msg => { %>
    <ul>
      <li><%= msg.username %> <a href="/views/msg-board/detail/<%= msg.id%>">Detail</a></li>
      <li><%= msg.text %></li>
      <li><%= msg.added %></li>
      <li>
        <form method="POST" action="/views/msg-board/delete/<%= msg.id%>">
          <button>Delete</button>
        </form>
      </li>
    </ul>
  <% }) %>
  <a href="/views/msg-board/new">New</a>
</body>
</html>
